# `pandas` 불러오기
주로 `pd`로 줄여서 사용합니다.

In [1]:
import numpy  as np    # numpy
import pandas as pd    # pandas

import requests

# DataFrame 생성

## `dict`로 생성

In [2]:
dates = pd.date_range('20181104', periods=3)

df = pd.DataFrame({
    'a' : [ 4 , 5,  6],
    'b' : [ 7,  8,  9],
    'c' : [10, 11, 12]},
    index = dates
)

In [3]:
df

            a  b   c
2018-11-04  4  7  10
2018-11-05  5  8  11
2018-11-06  6  9  12

실전에서는 직접 생성하기보다는 이미 있는 파일을 처리한다.

예)
- DB에서 가져와서 처리
- `Excel` 또는 `csv` 파일을 읽어서 작업
- 웹에서 가져와서 처리

# DataFrame 내용 확인

## 기본 정보

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3 entries, 2018-11-04 to 2018-11-06
Freq: D
Data columns (total 3 columns):
a    3 non-null int64
b    3 non-null int64
c    3 non-null int64
dtypes: int64(3)
memory usage: 96.0 bytes

## Row 수

In [5]:
len(df)

3

## Column 이름 목록

In [6]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

## 앞/뒤 Row 몇 개만 확인

In [7]:
df.head()

            a  b   c
2018-11-04  4  7  10
2018-11-05  5  8  11
2018-11-06  6  9  12

In [8]:
df.head(10)

            a  b   c
2018-11-04  4  7  10
2018-11-05  5  8  11
2018-11-06  6  9  12

In [9]:
df.tail()

            a  b   c
2018-11-04  4  7  10
2018-11-05  5  8  11
2018-11-06  6  9  12

## index

In [10]:
df.index

DatetimeIndex(['2018-11-04', '2018-11-05', '2018-11-06'], dtype='datetime64[ns]', freq='D')

In [11]:
df.index.values

array(['2018-11-04T00:00:00.000000000', '2018-11-05T00:00:00.000000000',
       '2018-11-06T00:00:00.000000000'], dtype='datetime64[ns]')

# 데이터 가져오기
- DO NOT USE `pd.read_table()`

## 파일에서 가져오기

### `csv`

In [10]:
df = pd.read_csv('data/iris.csv')

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

아래와 같이 URL에서 바로 가져올 수도 있습니다.

In [14]:
df = pd.read_csv('http://danielykim.me/data/iris.csv')

In [15]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
"""
# USEFUL TIP
df = pd.read_csv(
    '파일 경로',
    index_col=['컬럼명1', '컬럼명2'],
    parse_dates=['컬럼명3', '컬럼명4']
)
"""

### `xls` 또는 `xlsx`

In [16]:
df = pd.read_excel('data/iris.xls')

## DB에서 가져오기

DB에서 가져오는 연습을 하기 위해 먼저 아래와 같이 test.db 라는 sqlite 파일을 가져오겠습니다.

In [17]:
url = 'http://danielykim.me/data/test.db'

with open('data/test.db', 'wb') as db_file:
    r = requests.get(url)
    
    db_file.write(r.content)

Anaconda Prompt 에서 아래와 같이 입력하여 

`ipython-sql` 라이브러리를 설치합니다.

```bash
pip install ipython-sql
```

오류없이 설치되었으면 아래 Cell 내용을 실행할 수 있습니다.

In [18]:
%load_ext sql

In [19]:
%sql sqlite:///data/test.db

'Connected: @data/test.db'

In [20]:
records = %sql SELECT * FROM iris

df = records.DataFrame()

 * sqlite:///data/test.db
Done.

In [21]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# 선택

## Column 선택

In [22]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [23]:
df['species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [24]:
df['species'].head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

아래와 같이 Distinct 한 값을 확인할 수 있습니다.

In [25]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

## 위치로 선택

In [26]:
# df.iloc[row int index, column int index]
# NOTE: 마지막 값 제외
df.iloc[3:8, 1:3]

   sepal_width  petal_length
3          3.1           1.5
4          3.6           1.4
5          3.9           1.7
6          3.4           1.4
7          3.4           1.5

In [27]:
df.iat[0,0]

5.1

## 라벨로 선택
- 위치 선택보다 더 많이 사용함

In [28]:
# NOTE: 마지막 값 포함
df.loc[2:10, ['sepal_length', 'petal_length', 'species']]

    sepal_length  petal_length species
2            4.7           1.3  setosa
3            4.6           1.5  setosa
4            5.0           1.4  setosa
5            5.4           1.7  setosa
6            4.6           1.4  setosa
7            5.0           1.5  setosa
8            4.4           1.4  setosa
9            4.9           1.5  setosa
10           5.4           1.5  setosa

In [29]:
df.at[2, 'species']

'setosa'

### with condition

In [30]:
df[ (df['species'] == 'setosa') & (df['petal_length'] == 1.4)]

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
8            4.4          2.9           1.4          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
17           5.1          3.5           1.4          0.3  setosa
28           5.2          3.4           1.4          0.2  setosa
33           5.5          4.2           1.4          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
45           4.8          3.0           1.4          0.3  setosa
47           4.6          3.2           1.4          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

## 무작위 선택

In [31]:
df.sample(frac=0.1)

     sepal_length  sepal_width  petal_length  petal_width     species
140           6.7          3.1           5.6          2.4   virginica
129           7.2          3.0           5.8          1.6   virginica
82            5.8          2.7           3.9          1.2  versicolor
145           6.7          3.0           5.2          2.3   virginica
134           6.1          2.6           5.6          1.4   virginica
50            7.0          3.2           4.7          1.4  versicolor
28            5.2          3.4           1.4          0.2      setosa
20            5.4          3.4           1.7          0.2      setosa
148           6.2          3.4           5.4          2.3   virginica
92            5.8          2.6           4.0          1.2  versicolor
34            4.9          3.1           1.5          0.2      setosa
87            6.3          2.3           4.4          1.3  versicolor
58            6.6          2.9           4.6          1.3  versicolor
111           6.4          2.7           5.3          1.9   virginica
43            5.0          3.5           1.6          0.6      setosa

In [32]:
df.sample(n=10)

     sepal_length  sepal_width  petal_length  petal_width     species
101           5.8          2.7           5.1          1.9   virginica
86            6.7          3.1           4.7          1.5  versicolor
141           6.9          3.1           5.1          2.3   virginica
81            5.5          2.4           3.7          1.0  versicolor
100           6.3          3.3           6.0          2.5   virginica
19            5.1          3.8           1.5          0.3      setosa
116           6.5          3.0           5.5          1.8   virginica
22            4.6          3.6           1.0          0.2      setosa
87            6.3          2.3           4.4          1.3  versicolor
46            5.1          3.8           1.6          0.2      setosa

In [33]:
df.nlargest(3, 'petal_length')

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica

In [34]:
df.nsmallest(3, 'sepal_width')

    sepal_length  sepal_width  petal_length  petal_width     species
60           5.0          2.0           3.5          1.0  versicolor
62           6.0          2.2           4.0          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor

# DataFrame 내용 변경

## Column 이름 변경

In [8]:
old_columns2new_columns = {
    'sepal_length' : '꽃받침 길이', 
    'sepal_width'  : '꽃받침 너비', 
    'petal_length' : '꽃잎 길이', 
    'petal_width'  : '꽃잎 너비', 
    'species' : '종',
}

df = df.rename(columns=old_columns2new_columns)

In [9]:
df.head()

   꽃받침 길이  꽃받침 너비  꽃잎 길이  꽃잎 너비       종
0     5.1     3.5    1.4    0.2  setosa
1     4.9     3.0    1.4    0.2  setosa
2     4.7     3.2    1.3    0.2  setosa
3     4.6     3.1    1.5    0.2  setosa
4     5.0     3.6    1.4    0.2  setosa

In [37]:
# 다른 방법
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

## 값 할당/변형 & 컬럼 추가

In [38]:
df['petal_area'] = df['petal_length'] * df['petal_width']

In [39]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  setosa        0.28
1           4.9          3.0           1.4          0.2  setosa        0.28
2           4.7          3.2           1.3          0.2  setosa        0.26
3           4.6          3.1           1.5          0.2  setosa        0.30
4           5.0          3.6           1.4          0.2  setosa        0.28

In [40]:
df['petal_area'] = 0

In [41]:
df['petal_area'].unique()

array([0], dtype=int64)

In [42]:
df.loc[2:4, 'petal_area'] = np.nan

In [43]:
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  setosa         0.0
1           4.9          3.0           1.4          0.2  setosa         0.0
2           4.7          3.2           1.3          0.2  setosa         NaN
3           4.6          3.1           1.5          0.2  setosa         NaN
4           5.0          3.6           1.4          0.2  setosa         NaN
5           5.4          3.9           1.7          0.4  setosa         0.0
6           4.6          3.4           1.4          0.3  setosa         0.0
7           5.0          3.4           1.5          0.2  setosa         0.0
8           4.4          2.9           1.4          0.2  setosa         0.0
9           4.9          3.1           1.5          0.1  setosa         0.0

## apply: column

In [44]:
df['species'].apply(lambda v: v.capitalize())

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
5         Setosa
6         Setosa
7         Setosa
8         Setosa
9         Setosa
10        Setosa
11        Setosa
12        Setosa
13        Setosa
14        Setosa
15        Setosa
16        Setosa
17        Setosa
18        Setosa
19        Setosa
20        Setosa
21        Setosa
22        Setosa
23        Setosa
24        Setosa
25        Setosa
26        Setosa
27        Setosa
28        Setosa
29        Setosa
         ...
120    Virginica
121    Virginica
122    Virginica
123    Virginica
124    Virginica
125    Virginica
126    Virginica
127    Virginica
128    Virginica
129    Virginica
130    Virginica
131    Virginica
132    Virginica
133    Virginica
134    Virginica
135    Virginica
136    Virginica
137    Virginica
138    Virginica
139    Virginica
140    Virginica
141    Virginica
142    Virginica
143    Virginica
144    Virginica
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: species, Length: 150, dtype: object

## "axis" argument in `pandas`
- axis='index'
- axis='columns'

## apply: row

In [45]:
df[df.columns[:-1]].apply(
    lambda r: 
        r['sepal_length'] + r['sepal_width'] + r['petal_length'] + r['petal_width'], 
    axis='columns'
)

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [46]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species  petal_area
0           5.1          3.5           1.4          0.2  setosa         0.0
1           4.9          3.0           1.4          0.2  setosa         0.0
2           4.7          3.2           1.3          0.2  setosa         NaN
3           4.6          3.1           1.5          0.2  setosa         NaN
4           5.0          3.6           1.4          0.2  setosa         NaN

In [47]:
del df['petal_area']

In [48]:
def f1(r):
    sepal_length, sepal_width, petal_length, petal_width = r
    
    return sepal_length + sepal_width + petal_length + petal_width
    

df[df.columns[:-1]].apply(f1, axis='columns')

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [49]:
def f2(r):
    return sum(r)

df[df.columns[:-1]].apply(f2, axis='columns')

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [50]:
df[df.columns[:-1]].apply(sum, axis='columns')

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

In [51]:
df[df.columns[:-1]].sum(axis='columns')

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
5      11.4
6       9.7
7      10.1
8       8.9
9       9.6
10     10.8
11     10.0
12      9.3
13      8.5
14     11.2
15     12.0
16     11.0
17     10.3
18     11.5
19     10.7
20     10.7
21     10.7
22      9.4
23     10.6
24     10.3
25      9.8
26     10.4
27     10.4
28     10.2
29      9.7
       ...
120    18.1
121    15.3
122    19.2
123    15.7
124    17.8
125    18.2
126    15.6
127    15.8
128    16.9
129    17.6
130    18.2
131    20.1
132    17.0
133    15.7
134    15.7
135    19.1
136    17.7
137    16.8
138    15.6
139    17.5
140    17.8
141    17.4
142    15.5
143    18.2
144    18.2
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

# 삭제

In [53]:
# Column 이 있을 때만 사용
#del df['컬럼이름']

# 중복 제거
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.drop_duplicates.html

In [54]:
df.drop_duplicates()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[149 rows x 5 columns]

# 결측값 처리

In [55]:
df.loc[[0,1,5], '변수1'] = 1

In [56]:
df.loc[2:4, '변수1'] = np.nan

In [57]:
df.head(6)

   sepal_length  sepal_width  petal_length  petal_width species  변수1
0           5.1          3.5           1.4          0.2  setosa  1.0
1           4.9          3.0           1.4          0.2  setosa  1.0
2           4.7          3.2           1.3          0.2  setosa  NaN
3           4.6          3.1           1.5          0.2  setosa  NaN
4           5.0          3.6           1.4          0.2  setosa  NaN
5           5.4          3.9           1.7          0.4  setosa  1.0

- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.dropna.html

In [58]:
df.dropna().reset_index().drop('index', axis='columns')

   sepal_length  sepal_width  petal_length  petal_width species  변수1
0           5.1          3.5           1.4          0.2  setosa  1.0
1           4.9          3.0           1.4          0.2  setosa  1.0
2           5.4          3.9           1.7          0.4  setosa  1.0

In [59]:
del df['변수1']

# 데이터 요약

## `max`

In [60]:
df.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [61]:
df.max(axis='columns')

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Length: 150, dtype: float64

## `min`

In [62]:
df.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

## `mean`

In [63]:
df.mean()

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [64]:
df.mean(axis='columns')

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
5      2.850
6      2.425
7      2.525
8      2.225
9      2.400
10     2.700
11     2.500
12     2.325
13     2.125
14     2.800
15     3.000
16     2.750
17     2.575
18     2.875
19     2.675
20     2.675
21     2.675
22     2.350
23     2.650
24     2.575
25     2.450
26     2.600
27     2.600
28     2.550
29     2.425
       ...
120    4.525
121    3.825
122    4.800
123    3.925
124    4.450
125    4.550
126    3.900
127    3.950
128    4.225
129    4.400
130    4.550
131    5.025
132    4.250
133    3.925
134    3.925
135    4.775
136    4.425
137    4.200
138    3.900
139    4.375
140    4.450
141    4.350
142    3.875
143    4.550
144    4.550
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64

## `describe`

In [65]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [66]:
df[df.columns[:-1]].shape

(150, 4)

## abs

In [67]:
mask = np.random.randint(0, 1 + 1, size=df[df.columns[:-1]].shape) * 2 - 1

In [68]:
masked_df = df[df.columns[:-1]] * mask

In [69]:
masked_df.abs()

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
5             5.4          3.9           1.7          0.4
6             4.6          3.4           1.4          0.3
7             5.0          3.4           1.5          0.2
8             4.4          2.9           1.4          0.2
9             4.9          3.1           1.5          0.1
10            5.4          3.7           1.5          0.2
11            4.8          3.4           1.6          0.2
12            4.8          3.0           1.4          0.1
13            4.3          3.0           1.1          0.1
14            5.8          4.0           1.2          0.2
15            5.7          4.4           1.5          0.4
16            5.4          3.9           1.3          0.4
17            5.1          3.5           1.4          0.3
18            5.7          3.8           1.7          0.3
19            5.1          3.8           1.5          0.3
20            5.4          3.4           1.7          0.2
21            5.1          3.7           1.5          0.4
22            4.6          3.6           1.0          0.2
23            5.1          3.3           1.7          0.5
24            4.8          3.4           1.9          0.2
25            5.0          3.0           1.6          0.2
26            5.0          3.4           1.6          0.4
27            5.2          3.5           1.5          0.2
28            5.2          3.4           1.4          0.2
29            4.7          3.2           1.6          0.2
..            ...          ...           ...          ...
120           6.9          3.2           5.7          2.3
121           5.6          2.8           4.9          2.0
122           7.7          2.8           6.7          2.0
123           6.3          2.7           4.9          1.8
124           6.7          3.3           5.7          2.1
125           7.2          3.2           6.0          1.8
126           6.2          2.8           4.8          1.8
127           6.1          3.0           4.9          1.8
128           6.4          2.8           5.6          2.1
129           7.2          3.0           5.8          1.6
130           7.4          2.8           6.1          1.9
131           7.9          3.8           6.4          2.0
132           6.4          2.8           5.6          2.2
133           6.3          2.8           5.1          1.5
134           6.1          2.6           5.6          1.4
135           7.7          3.0           6.1          2.3
136           6.3          3.4           5.6          2.4
137           6.4          3.1           5.5          1.8
138           6.0          3.0           4.8          1.8
139           6.9          3.1           5.4          2.1
140           6.7          3.1           5.6          2.4
141           6.9          3.1           5.1          2.3
142           5.8          2.7           5.1          1.9
143           6.8          3.2           5.9          2.3
144           6.7          3.3           5.7          2.5
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

# Grouping (=Group By)
![](http://danielykim.me/images/pandas-cheat-sheet-groupby.png)

In [70]:
grouped_df = df.groupby('species')

## iteration

In [71]:
for g in grouped_df.groups:
    print(g, grouped_df.get_group(g).head())
    break

setosa    sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [72]:
grouped_df.agg(['count', 'mean'])

           sepal_length        sepal_width        petal_length         \
                  count   mean       count   mean        count   mean
species
setosa               50  5.006          50  3.428           50  1.462
versicolor           50  5.936          50  2.770           50  4.260
virginica            50  6.588          50  2.974           50  5.552

           petal_width
                 count   mean
species
setosa              50  0.246
versicolor          50  1.326
virginica           50  2.026

In [73]:
grouped_df.sepal_length.agg(['count', 'mean'])

            count   mean
species
setosa         50  5.006
versicolor     50  5.936
virginica      50  6.588

In [74]:
aggregated_df =grouped_df.agg({
    'sepal_length' : 'count',
    'sepal_width'  : 'mean',
    'petal_length' : 'std',
    'petal_width'  : 'median'
})

In [75]:
aggregated_df

            sepal_length  sepal_width  petal_length  petal_width
species
setosa                50        3.428      0.173664          0.2
versicolor            50        2.770      0.469911          1.3
virginica             50        2.974      0.551895          2.0

# 연산

## Concat (Row 합치기)
![](http://danielykim.me/images/pandas-cheat-sheet-concat0.png)

In [76]:
df.species.unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [77]:
df1 = df[ df.species == 'virginica' ]
df2 = df[ df.species == 'versicolor' ]

In [78]:
len(df1), len(df2)

(50, 50)

In [79]:
concatenated_df = pd.concat([df1, df2])

In [80]:
len(concatenated_df)

100

## Concat (Column 합치기)
![](http://danielykim.me/images/pandas-cheat-sheet-concat1.png)

In [81]:
df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [82]:
df1 = df.loc[:, 'sepal_length']
df2 = df.loc[:, 'petal_length']

In [83]:
pd.concat([df1, df2], axis = 1)

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
5             5.4           1.7
6             4.6           1.4
7             5.0           1.5
8             4.4           1.4
9             4.9           1.5
10            5.4           1.5
11            4.8           1.6
12            4.8           1.4
13            4.3           1.1
14            5.8           1.2
15            5.7           1.5
16            5.4           1.3
17            5.1           1.4
18            5.7           1.7
19            5.1           1.5
20            5.4           1.7
21            5.1           1.5
22            4.6           1.0
23            5.1           1.7
24            4.8           1.9
25            5.0           1.6
26            5.0           1.6
27            5.2           1.5
28            5.2           1.4
29            4.7           1.6
..            ...           ...
120           6.9           5.7
121           5.6           4.9
122           7.7           6.7
123           6.3           4.9
124           6.7           5.7
125           7.2           6.0
126           6.2           4.8
127           6.1           4.9
128           6.4           5.6
129           7.2           5.8
130           7.4           6.1
131           7.9           6.4
132           6.4           5.6
133           6.3           5.1
134           6.1           5.6
135           7.7           6.1
136           6.3           5.6
137           6.4           5.5
138           6.0           4.8
139           6.9           5.4
140           6.7           5.6
141           6.9           5.1
142           5.8           5.1
143           6.8           5.9
144           6.7           5.7
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

## Merge (=Join)

In [84]:
adf = pd.DataFrame({
    'x1' : ['A', 'B', 'C'],
    'x2' : [ 1,   2,   3]
})

bdf = pd.DataFrame({
    'x1' : ['A', 'B', 'D'],
    'x3' : ['T', 'F', 'T']
})

### left
![](http://danielykim.me/images/pandas-cheat-sheet-standard-join-left.png)

In [85]:
pd.merge(adf, bdf, how='left', on='x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

### right
![](http://danielykim.me/images/pandas-cheat-sheet-standard-join-right.png)

In [86]:
pd.merge(adf, bdf, how='right', on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

### inner
![](http://danielykim.me/images/pandas-cheat-sheet-standard-join-inner.png)

In [87]:
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

### outer
![](http://danielykim.me/images/pandas-cheat-sheet-standard-join-outer.png)

In [88]:
pd.merge(adf, bdf, how='outer', on='x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

# 변형(reshaping)
- http://pandas.pydata.org/pandas-docs/stable/api.html#data-manipulations

## Transpose

In [89]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepal_length,5.1,4.9,4.7,4.6,5,5.4,4.6,5,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepal_width,3.5,3,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3,2.5,3,3.4,3
petal_length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5,5.2,5.4,5.1
petal_width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2,2.3,1.8
species,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,...,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica

## pivot
![](http://danielykim.me/images/pandas-cheat-sheet-pivot.png)
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot.html

In [90]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [91]:
pivot_df = df.pivot(values='sepal_length', columns='species')

## melt
![](http://danielykim.me/images/pandas-cheat-sheet-melt.png)
- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.melt.html

In [92]:
melted_df = pivot_df.melt()

In [93]:
melted_df.head()

  species  value
0  setosa    5.1
1  setosa    4.9
2  setosa    4.7
3  setosa    4.6
4  setosa    5.0

# Method chaining

In [94]:
grouped_df.agg(list)

,sepal_length,sepal_width,petal_length,petal_width
species,,,,
setosa,"[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, ...","[3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, ...","[1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, ...","[0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, ..."
versicolor,"[7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, ...","[3.2, 3.2, 3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, ...","[4.7, 4.5, 4.9, 4.0, 4.6, 4.5, 4.7, 3.3, 4.6, ...","[1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, ..."
virginica,"[6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, ...","[3.3, 2.7, 3.0, 2.9, 3.0, 3.0, 2.5, 2.9, 2.5, ...","[6.0, 5.1, 5.9, 5.6, 5.8, 6.6, 4.5, 6.3, 5.8, ...","[2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, ..."

In [95]:
grouped_df.agg(lambda r: ','.join(map(str, r)))

,sepal_length,sepal_width,petal_length,petal_width
species,,,,
setosa,"5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,5.4,4....","3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,3.7,3....","1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,1.5,1....","0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,0.2,0...."
versicolor,"7.0,6.4,6.9,5.5,6.5,5.7,6.3,4.9,6.6,5.2,5.0,5....","3.2,3.2,3.1,2.3,2.8,2.8,3.3,2.4,2.9,2.7,2.0,3....","4.7,4.5,4.9,4.0,4.6,4.5,4.7,3.3,4.6,3.9,3.5,4....","1.4,1.5,1.5,1.3,1.5,1.3,1.6,1.0,1.3,1.4,1.0,1...."
virginica,"6.3,5.8,7.1,6.3,6.5,7.6,4.9,7.3,6.7,7.2,6.5,6....","3.3,2.7,3.0,2.9,3.0,3.0,2.5,2.9,2.5,3.6,3.2,2....","6.0,5.1,5.9,5.6,5.8,6.6,4.5,6.3,5.8,6.1,5.1,5....","2.5,1.9,2.1,1.8,2.2,2.1,1.7,1.8,1.8,2.5,2.0,1...."

In [96]:
aggregated_df = grouped_df.agg(lambda r: ','.join(map(str, r)))

In [97]:
(
    aggregated_df
        .sepal_length                   # select sepal_length column
        .str.split(',', expand=True)    # split aggregated string
        .stack()                        # unnest
        .reset_index()
        .drop('level_1', axis='columns')        # remove int index column 
        .rename(
            {0:'sepal_length'},         # rename column 0 
            axis = 1
        )
)

       species sepal_length
0       setosa          5.1
1       setosa          4.9
2       setosa          4.7
3       setosa          4.6
4       setosa          5.0
5       setosa          5.4
6       setosa          4.6
7       setosa          5.0
8       setosa          4.4
9       setosa          4.9
10      setosa          5.4
11      setosa          4.8
12      setosa          4.8
13      setosa          4.3
14      setosa          5.8
15      setosa          5.7
16      setosa          5.4
17      setosa          5.1
18      setosa          5.7
19      setosa          5.1
20      setosa          5.4
21      setosa          5.1
22      setosa          4.6
23      setosa          5.1
24      setosa          4.8
25      setosa          5.0
26      setosa          5.0
27      setosa          5.2
28      setosa          5.2
29      setosa          4.7
..         ...          ...
120  virginica          6.9
121  virginica          5.6
122  virginica          7.7
123  virginica          6.3
124  virginica          6.7
125  virginica          7.2
126  virginica          6.2
127  virginica          6.1
128  virginica          6.4
129  virginica          7.2
130  virginica          7.4
131  virginica          7.9
132  virginica          6.4
133  virginica          6.3
134  virginica          6.1
135  virginica          7.7
136  virginica          6.3
137  virginica          6.4
138  virginica          6.0
139  virginica          6.9
140  virginica          6.7
141  virginica          6.9
142  virginica          5.8
143  virginica          6.8
144  virginica          6.7
145  virginica          6.7
146  virginica          6.3
147  virginica          6.5
148  virginica          6.2
149  virginica          5.9

[150 rows x 2 columns]

# 파일 쓰기

In [98]:
# csv_file_path = 'tmp.csv'

# df.to_csv(csv_file_path, index=False)

In [99]:
# excel_file_path = 'tmp.xls'

# df.to_excel(excel_file_path)

# Tips
- 쉬운 연산이면 DB에서 먼저 합시다.
- 되도록이면 File I/O 를 피합시다.
  - DB에서 바로 Procedure 형태로 작업해서 DB로 바로 넣거나
  - 웹서버에서 `json`이나 웹페이지로 뿌려봅시다.

# 참고 자료
- https://pandas.pydata.org/pandas-docs/stable/10min.html#minutes-to-pandas
  - 진짜 10분만에 다 이해하면 천재 😲
- Cheat Sheets
  - **Official:** https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
  - **DataCamp:** https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf
- 주제별 Tip
  - http://www.pythonprogramming.in/pandas-examples.html?utm_source=newsletter_mailer&utm_medium=email&utm_campaign=weekly
- Performance guide
  - https://pandas.pydata.org/pandas-docs/stable/enhancingperf.html#enhancing-performance
  - Scale-up, parallel, distributed, …
    - https://github.com/modin-project/modin